# Set the environment to be used.
ENV=local

# Log level (debug, info, warning, error, critical)
LOG_LEVEL=debug

# GCP Project Id used for billing the BigQuery query on basedosdados Dataset.
GCP_BILLING_PROJECT_ID=project-id

# Path to the GCP Service Account Key JSON file
# Example: GOOGLE_APPLICATION_CREDENTIALS=./credentials.json
GOOGLE_APPLICATION_CREDENTIALS=./credentials.json

# Set files destination URI. Ex:
# GCP:   'gs://my-bucket/etl/bronze'
# AWS:   's3://my-bucket/etl/bronze'
# Azure: 'abfs://my-container/etl/bronze'
# Local: './data/etl/bronze'
BUCKET_BRONZE=gs://my-bucket/etl/bronze